// Estilo para el contenedor de la seccion
.faq-section {
  min-height: 92vh;
  padding-top: 12vh;
  background: url("~/img/faq/faq-background.png") center/cover no-repeat;
  color: $base-color-white;
  
}

// contenedor de las respuestas
.faq-answers-container {
  border-radius: 0.6rem;
  background: rgba($base-color-white, 0.4) url("~/img/commercial_allies/commercial_allies-lupa.png") center/8rem auto no-repeat ;
  height: 50vh;
  overflow-y: scroll;
}

// text-box de la respuesta
.faq-answers {
  border-radius: 0.6rem;
  background-color: rgba($base-color-white, 0.4);
}

//titulo de la respuesta
.faq-answers-title {
  color: $base-color-blue; 
}

//texto de la respuesta
.faq-answers-text {
  color: rgb(60, 60, 59); 
}

//items de la seccion izquierda
.item-faq {
  width: 100%;
  height: 22vh;
  border-radius: 0.4rem;
  background-color: rgb(52, 94, 121);
  overflow: hidden;
}

.item-faq-bg {
  border-radius: 0.4rem;
  color: $base-color-white;
}

.item-faq-container {
  height: 50vh;
  overflow-y: hidden;
}

// texto de cada iten con una flecha (Falta agregar a los iconos TLP)
.item-faq-text {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:after {
    position: relative;
    float: right;
    top: 0.6rem;
    content: " \f0da";
    font: $primary-font-icon;
    font-size: 0.8rem;
  }
}

// fondo de cada seccion
.item-faq-what-is {
  background:  url("~/img/faq/faq-what-is-bg.png") right/cover no-repeat ;
}

.item-faq-commerce {
  background:  url("~/img/faq/faq-consumer-bg.png") right/cover no-repeat ;
}

.item-faq-consumer {
  background:  url("~/img/faq/faq-commerce-bg.png") right/cover no-repeat ;
}

.item-faq-billing {
  background:  url("~/img/faq/faq-billing-bg.png") right/cover no-repeat ;
}



/*Emulacion del scroll (Por aprobar)*/

.item-scroll {
  position: absolute;
  float: left;
  width: 100%;
  height: 10%;
  text-align: center;
  color: $base-color-magenta;
  &:hover {
    font-weight: bold; color: $base-color-blue;
    cursor: pointer;
  }

}

.item-scroll-up {
  top: 0;

}
.item-scroll-down {
  @include linear-gradient(rgba($base-color-white, 0), rgba($base-color-white, 1) , bottom, 0%, 100%);
  bottom: 0;
}
