.button_bubble {
	background: rgba(46,74,117,1);
	background: -moz-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(216,53,89,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,74,117,1)), color-stop(100%, rgba(216,53,89,1)));
	background: -webkit-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(216,53,89,1) 100%);
	background: -o-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(216,53,89,1) 100%);
	background: -ms-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(216,53,89,1) 100%);
	background: linear-gradient(to right, rgba(46,74,117,1) 0%, rgba(216,53,89,1) 100%);
	border-radius: 100px;
	border-style: none;
	cursor: pointer;
	height: 20px;
	float: left;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4a75', endColorstr='#d83559', GradientType=1 );
	width: 20px; 
}
.button_space {
	position: relative;
	top: 90px;
	right: 170px;
}

.tp-btn {
	width:  7rem;
	cursor: pointer;

	a{
		border: 0px;
		margin: 0.6rem;
		width: 7.5rem;
	}
}